@use "sass:math";

.accordion {
  &__item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid black;

    &:last-child {
        border-bottom: 1px solid black;
    }

    button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: math.div(22, 16) * 1rem;
    }

    > div {
      overflow: hidden;
    }

    p {
      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}